# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.db
*.sqlite3
backend/venv/
backend/staticfiles/
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
